/* styles/globals.css */
@layer base {
  /* Button Hover Effect */
  .btn:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  /* Image Hover Effect */
  .image-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
}
/* Enable Smooth Scroll */
html {
  scroll-behavior: smooth;
}
